body {
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.pixblick.de/images/product_images/original_images/fototapete_chicago%20(1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container {
    padding-bottom: 25px;
    width: 50%;
    height: 50%;
    border: 5px solid;
    border-color: black;
    background-color: rgba(240, 240, 240, 0.85)
}

#aqi {
    -webkit-text-stroke: 1px black; /* width and color */
}

.errorInput {
    background-color: tomato;
}