body {
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../imgs/demo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container {
    padding-bottom: 25px;
    width: 50%;
    height: 50%;
    border: 5px solid;
    border-color: black;
    background-color: rgba(240, 240, 240, 0.8)
}

.errorInput {
    background-color: tomato;
}