* {
    box-sizing: border-box;
    text-align: center;
    font-family: tahoma;
}
body {
    overflow: hidden;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25vw;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#datasContainer {
    padding: 3px;
}

#savedPosition {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

#aqi {
    font-size: 2rem;
}

#map {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("https://www.pixblick.de/images/product_images/original_images/fototapete_chicago%20(1).jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 90vh;
    width: 75vw;
}

#form {
    height: 10vh;
    width: 75vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    position: absolute;
    color: #fff;
}

#positionButton,
#saveButton,
#uploadButton,
#homeButton,
#inputContainer {
    height: 100%;
    width: 100%;
    border: none;
    text-decoration: none;
    cursor: default;
}

#containerSavedPosition {
    background-color: #202020;
    position: relative;
    cursor: default;
    width: 100%;
}

#savedPosition {
    font-size: 1.2rem;
}

#deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #606060;
    font-size: 1.2rem;
    display: none;
    transition: all 0.3s;
}

#deleteButton:hover {
    color: #fff;
}

#searchInput,
#searchButton {
    height: 50%;
    width: 100%;
    border: none;
    text-decoration: none;
    cursor: default;
}

#homeButton {
    font-size: 2.5rem;
    width: 60%;
}

#homeButton:hover {
    color: #202020;
}

#positionButton,
#homeButton,
#uploadButton {
    background-color: #202020;
    color: #fff;
}

#positionButton:hover,
#homeButton:hover,
#uploadButton:hover,
#saveButton:hover,
#searchButton:hover {
    background-color: #606060;
    transition: all 0.3s;
}



#saveButton,
#searchButton {
    color: #fff;
    background-color: #404040;
}

#homePage {
    color: #fff;
    width: 70%;
    background-color: rgba(54,54,54,0.85);
    border: 4px solid #202020;
    border-radius: 5px;
    padding: 5px;
    padding-left: 35px;
    padding-bottom: 30px;
    text-align: left;
}

ul { 
    padding: 0;
}

li {
    text-align: left;
}

a {
    transition: all 0.2s;
}

a:link {
    color: #59cd90;
    text-decoration: none;
  }

a:visited {
    color: #59cd90;
    text-decoration: none;
}

a:hover {
    color: #2C925C;
    text-decoration: none;
}

a:active {
    color: #59cd90;
    text-decoration: none;
}